/* General Styles */
body {
  font-family: "Anton", sans-serif;
  color: #f0f0f0; /* Light gray for visibility against dark backgrounds */
  background-color: #1a1a1a; /* Dark gray for overall background */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

header {
  text-align: center;
  padding: 20px 10%;
  background-color: rgba(
    26,
    26,
    26,
    0.9
  ); /* Slightly transparent black for the header */
}

h1 {
  font-size: 48px;
  color: #ff2600; /* Bright red for emphasis */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75); /* Subtle shadow to enhance text readability */
  margin: 0;
  padding: 20px 0;
}

/* Table Styles */
table {
  width: 90%;
  margin: 20px auto;
  background-color: #262626; /* Lighter gray to distinguish the table */
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 20px;
  border: 1px solid #333; /* Dark borders for contrast */
  background-color: #1a1a1a; /* Keeping background consistent with body */
  color: #f0f0f0; /* Ensuring text is readable */
}

th {
  background-color: #333; /* Darker gray for table headers */
}

.highlight {
  background-color: #4caf50; /* Green for highlighting specific cells */
  color: white;
}

/* Icon Bar Styles */
.icon-bar {
  background: linear-gradient(145deg, #4a4a4a, #2c2c2c);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.6);
  border-radius: 20px 20px 0 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.icon {
  padding: 10px;
  font-size: 40px;
  color: #f0f0f0; /* Soft white for icons */
  text-decoration: none; /* No underline on links */
  cursor: pointer;
}

.icon:hover {
  color: #cccccc; /* Light grey for hover effect */
}

/* Footer Styles */
footer {
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a; /* Consistent dark footer */
  color: #f0f0f0;
  margin-top: auto;
}
